body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-align: center;
  background-color: lightgray;
}

button {
  height: 50px;
  width: 50px;
  font-family: monospace;
  background-color: #9d8189;
}

.header {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.display-container {
  background-color: #ffe5d9;
  width: 196px;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  border-style: groove;
  overflow: hidden;
}

#display {
  align-self: flex-end;
  margin: 5px;
}

#zero-btn {
  width: 100px;
}

#clear-btn,
#delete-btn {
  background-color: #f4acb7;
}

.operator-btn {
  background-color: #d8e2dc;
}

#perc-btn {
  background-color: #ffcad4;
}